<%- include("partials/header"); -%>

<h2 class="song-name" style="position: relative; color: #E04D01"><%=song.name%></h2>
<video controls="" autoplay="" name="media">
    <source src="/song/<%=song.location%>">
</video>






<%- include("partials/footer"); -%>